
body, a {
    background-color: #fff4e3;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #5d5d5a;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

p {
    text-align: center;
    vertical-align: center;
    width: 100%;
}

/* -------------- CLASS ---------------- */

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.fadeout {
    animation: fadeOut ease 1s;
}

.fadein {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fadeOut {
    100% { opacity: 0;}
    0% { opacity: 1;}
}

.main-container {
    border: 5px #5d5d5a solid;
    border-radius: 20px;
    background-color: #fff4e3;
    width: 840px;
    height: 500px;
    margin: auto;
    padding: 10px;
}

.game {
    border-radius: 16px;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.container {
    border: 2px #5d5d5a solid;
    margin: 6px;
    border-radius: 5px;
}

.main {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.deck {
    border: 1px #ffa45c dotted;
    border-radius: 10px;
    height: 30%;
    margin: 10px;
    text-align: center;
}

.flashcards {
    display: flex;
    justify-content: center;
}
.flashcard {
    position: absolute;
    width: calc(90% - 2px);
}
.front {
    display: none;
    position: absolute;
    width: 100%;
}

.front > div {
    width: 100%;
    text-align: middle;
}

.back > img {
    border: 1px solid orange;
    border-radius: 10px;
    width: 100%;    
}

.correct {

}

.wrong {

}

.btn {
    margin: 20px;
    padding: 15px 15px;
    border: 1px #ffa45c solid;
    border-radius: 5px;
    background-color: #f7a867;
    color: white;
    box-shadow: 2px 1px 10px 1px #ffa45c;
    transition: 0.5s;  
}

.btn:hover {
    background-color: #ffd0b0;
    color: #000000;
    cursor: crosshair;
}

.btn:active {
    transform: translateY(5px);
}

.btn:focus {
    outline: none;
}

.definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    height: 45%;
}

.card {
    position: absolute;
    background-color: #fff4e3;
    border-radius: 10px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 10px 0 black, 0 15px 20px 0 #07070720;
}

.choice-section {
    /* border: 1px #ffa45c solid ; */
    margin: 10px;
    height: calc(40% - 36px);
    display: flex;
    flex-direction: row;
}

.choice-section > div {
    border: 1px solid;
    border-radius: 10px;
    width: 50%;
    height: calc(100% - 12px);
    margin: 5px 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.links {
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.links > li {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.links > li > a {
    color: #010101;
    background-color: transparent;
    margin: 10px 10px;    
    transition: font-size 0.5s;
}

.links > li > a:hover {
    border-bottom: 3px #ffa45c dotted;   
    padding: 0; 
    font-size: 20px;
    cursor: crosshair;
}

.links > a:after {
    font-size: 20px;
    overflow: hidden;
    visibility: hidden;
}

.progress-div {
    border-radius: 10px;
    height: 30%;
    margin: 11px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

span.counter {
  position: absolute;
  top: calc(45% - 10px);
  left: calc(50% - 10px);
  color: black;
  font-size: 200px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.quiz-card {
    /* border: 1px red solid; */
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------- ID ----------------- */

#character {
    /* display: none; */
    /* border: 1px dotted blue; */
    margin-top: 10px;

}

#quiz {
    /* border: 1px #ffa45c solid; */
    border: 1px green dashed;
    margin: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

#practice {
    margin: 10px 25px 25px 25px;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    position: relative;
}

#practice > .card > * {
    font-size: 25px;
    border: none;
}

#directions {
    border: 2px #ffa45c dashed;
    border-radius: 10px;
    margin: 10px;
    height: 40%;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;   
}

#countdown {
    height: calc(40% - 5px);
    width: calc(70% - 5px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
 
#start-btn {
    margin: 20px 150px;
}